[user]
	name = Ben Guo
	email = ben@venmo.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        fuckit = 'git reset --hard; git clean -fd'
[push]
	default = simple
[core]
	editor = /usr/local/bin/vim
